doctype html
html
	head
		title Avidlet
		link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet' href='/stylesheets/fonts.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
	block content
	script(src="/jquery.js")
	script(src="/bootstrap.min.js")
	block extrascripts
