extends layout

block content
	.jumbotron
		p!=message
		.container
			.col-md-4
				.row
					h1 Signup
				.row
					form(action="/signup", method="post", autocomplete="off" )
						input.form-control(type="text", name="fullname", required)
						input.form-control(type="text", name="username", required)
						input.form-control(type="password", name="password", required)
						button.btn.btn-default(type="submit")
							| Submit
				.row
					h1 Login
				.row
					form(action="/login", method="post")
						input.form-control(type="text", name="username", required)
						input.form-control(type="password", name="password", required)
						button.btn.btn-default(type="submit")
							| Submit