html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans';
	color: #333;
}

h1, h2, h3, input, p, li, textarea,a {
	font-weight: 200;
}

ul > li{
	margin: 0px;
	padding: 0px;
}

body{
	border-top: 5px solid #d00;
}


h1{
	font-size: 30px;
	font-weight: 100;
	color: #555;
}

ul{
	list-style: none;
	padding: 0px;
}

#future{
	padding: 0px 10px;
}

#content{
	margin-top: 20px;
}

.book-outer{
	display:inline-block;
}

.book{
	margin: 10px 10px;
	height: 170px;
	width: 110px;
	background-color: #ddd;
	text-align: center;
	display: table;
}

.book-content{
	display: table-cell;
	vertical-align: middle;
}

.form-control, .form-control:focus{
	border: none;
	background: rgb(250,250,250);
	border-radius: 0px;
	padding: 10px 10px;
	margin: 10px 0px;
	box-shadow: none;
	transition: none;
	resize: none;
	outline:0px;
}

#submitBtn{
	background-color: rgb(220,220,220);
}

.navbar{
	background: none;
	border: none;
	padding-top: 10px;
}